:root {
  --color-background: #112130;
  color-scheme: dark;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: var(--color-background);
}

#stage {
  display: block;
  width: 100vw;
  height: 100vh;
}
