:root {
  --color-background: #112130;
  --color-letterbox: #000;
  color-scheme: dark;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: var(--color-letterbox);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#stage {
  display: block;
  background: var(--color-background);
}
